<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gehtsoft.Tools.TypeUtils" version="1.0.5" targetFramework="net461" />
  <package id="Hime.Redist" version="3.5.1" targetFramework="net461" />
  <package id="Hime.SDK" version="3.5.1" targetFramework="net461" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
</packages>